<mat-card class="example-card">
  <img mat-card-image src="../../assets/Small-World.png" alt="small world" />
  <mat-card-content>
    <h3>Header</h3>
    <p>
      The buing Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain.
    </p>
  </mat-card-content>
</mat-card>

<!-- Copyright 2023 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at https://angular.io/license -->
