<div class="dashboard-right">
  <app-simple-table></app-simple-table>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <input type="tel" matInput placeholder="555-555-1234" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>

  <div class="progress-box">
    <mat-progress-spinner
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="value"
    >
    </mat-progress-spinner>
    <h3>Current Progress</h3>
    <em>A small, agile dog</em>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain.
    </p>
  </div>
</div>
